body {
    padding: 0;
    margin: 0;
    background-color: #F5F6F7;
}

@media screen and (min-width: 768px) {
    .itemKhoaHoc {
        width: 230px;
        height: 300px;
        margin: 20px;
        display: inline-block;
        background-color: white;
    }

        .itemKhoaHoc a {
            text-decoration: none;
            display: inline-grid;
        }

            .itemKhoaHoc a p {
                margin: 10px;
                color: black;
            }

    .imgKhoaHoc {
        width: 230px;
        height: 150px;
        display: inline-block;
    }

    .itemImgKhoaHoc {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .itemKhoaHoc {
        width: 180px;
        height: 250px;
        margin: 10px;
        display: inline-block;
        background-color: white;
        border: 1px solid whitesmoke;
    }

        .itemKhoaHoc a {
            text-decoration: none;
            display: inline-grid;
        }

            .itemKhoaHoc a p {
                margin: 10px;
                max-width: 180px;
                color: black;
            }

    .imgKhoaHoc {
        width: 180px;
        height: 110px;
        display: inline-block;
    }

    .itemImgKhoaHoc {
        margin: auto;
    }
}
