
@media screen and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #F5F6F7;
    }

    #content {
        /*position: absolute;*/
        padding-left: 230px;
        padding-top: 100px;
        /*width: 80%;*/
    }

    .header {
        height: 65px;
        background-color: #343A40;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 1;
    }

        .header div {
            position: absolute;
            right: 20px;
        }

    .h1 {
        width: 80%;
        position: absolute;
        left: 250px;
        color: white;
        line-height: 65px;
        text-align: left;
        display: inline-block;
        font-size: 20pt;
    }

    .lblLoiChao {
        color: white;
        margin: 1em;
        line-height: 40px;
    }

    .sideMenu {
        height: 100%;
        top: 65px;
        position: fixed;
        width: 210px;
        background-color: #343A40;
    }

    #bg_btnChucNang {
        background-color: #2D3238;
        padding: 10px;
        display: block;
        box-sizing: border-box;
        margin-top: 20px;
    }

    .btnChucNang {
        border: 0px;
        display: block;
        width: 70%;
        /*height: 35px;*/
        margin: 15px auto;
        line-height: 35px;
        text-decoration: none;
        border-radius: 3px;
    }

    .btnDangNhap {
        border: 1px solid dotted;
        background-color: #ef5350;
        text-align: center;
        color: white;
    }

    .btnDangKy {
        border: 1px solid dotted;
        background-color: #07B455;
        text-align: center;
        color: white;
    }

    #lsCategory {
        margin-top: 1em;
    }
    .sideMenu ul {
        list-style: none;
    }

    .supMenu li {
        line-height: 50px;
        font-weight: bold;
        position: relative;
    }

    .supMenu a {
        display: block;
        padding-left: 20px;
        color: white;
        text-decoration: none;
    }

        .supMenu a:hover {
            background-color: #2D3238;
        }

    .supMenu .subMenu {
        display: none;
    }
}


/*#content {
    position: absolute;
    width: 80%;
    left: 230px;
    top: 100px;    
}*/



@media screen and (max-width: 768px) {

    * {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .header {
        background-color: #343A40;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .header div {
            line-height:;
        }

    .h1 {
        display: none;
    }

    .lblLoiChao {
        color: white;
        margin: 1em;
        line-height: 40px;
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #F5F6F7;
    }

    #content {
    }

    .sideMenu {
        background-color: #343A40;
    }


    #bg_btnChucNang {
        background-color: #2D3238;
        padding: 10px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .btnChucNang {
        display: inline-block;
        width: 25%;
        height: 35px;
        margin: 0 10px;
        line-height: 35px;
        text-decoration: none;
        border-radius: 3px;
    }

    #btnDangNhap {
        border: 1px solid dotted;
        background-color: #ef5350;
        text-align: center;
        color: white;
    }

    #btnDangKy {
        border: 1px solid dotted;
        background-color: #07B455;
        text-align: center;
        color: white;
    }

    .sideMenu ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .supMenu li {
        line-height: 50px;
        font-weight: bold;
        position: relative;
        display: inline-block;
    }

    .supMenu a {
        color: white;
        text-decoration: none;
    }

    .supMenu .subMenu {
        display: none;
    }
}

.btnThem {
    margin: 1em auto 0 auto;
    display: block;
}
